<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="nl-be" prefix="og: http://ogp.me/ns#">
<head>
	<!-- Character encoding -->
	<meta charset="UTF-8"><!-- Latest version of rendering engine -->
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<!-- Mobile Viewport -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name=
	"viewport"><!-- Most important SEO tag -->
	<title>AESTHETIC</title><!-- Other SEO friendly tags -->
	<meta content=
	"Lees hier alles over nieuwe media, html5 en andere ontwikkelingen in webdevelopment en mobile development. De docenten NMD willen graag hun kennis delen met jou!"
	name="description">
	<meta content="HTML5, JavaScript, jQuery, CSS3" name="keywords">
	<meta content=
	"Arteveldehogeschool - Bachelor in de grafische en digitale media | MMP" name=
	"author">
	<meta content="Copyright 2010-17 Arteveldehogeschool. All Rights Reserved."
	name="copyright"><!-- OpenGraph -->
	<meta content="website" property="og:type">
	<meta content="&gt;HTML5 | Webdesign II | GDM" property="og:title">
	<meta content=
	"Lees hier alles over nieuwe media, html5 en andere ontwikkelingen in webdevelopment en mobile development. De docenten NMD willen graag hun kennis delen met jou!"
	property="og:description">
	<meta content="http://www.gdm.gent/" property="og:url">
	<meta content="GDM.GENT" property="og:site_name">
	<meta content="assets/images/ahs.png" property="og:image">
	<meta content="129" property="og:image:width">
	<meta content="129" property="og:image:height"><!-- humans.txt -->
	<link href="/humans.txt" rel="author" type="text/plain">
	<!-- DNS prefech for CDN -->
	<link href="//cdnjs.cloudflare.com" rel="dns-prefetch">
	<link href="//code.jquery.com" rel="dns-prefetch">
	<link href="//maxcdn.bootstrapcdn.com" rel="dns-prefetch"><!-- Icons -->
	<!-- http://realfavicongenerator.net/ -->
	<link href="assets/icons/apple-touch-icon.png" rel="apple-touch-icon" sizes=
	"180x180">
	<link href="assets/icons/favicon-32x32.png" rel="icon" sizes="32x32" type=
	"image/png">
	<link href="assets/icons/favicon-16x16.png" rel="icon" sizes="16x16" type=
	"image/png">
	<link href="assets/icons/manifest.json" rel="manifest">
	<link href="assets/icons/safari-pinned-tab.svg" rel="mask-icon">
	<link href="assets/icons/favicon.ico" rel="shortcut icon">
	<meta content="GDM" name="apple-mobile-web-app-title">
	<meta content="GDM" name="application-name">
	<meta content="assets/icons/browserconfig.xml" name="msapplication-config">
	<meta content="#ffffff" name="theme-color"><!-- Stylesheets: Vendors -->
	<link href="vendor/normalize/normalize.css" media="all" rel="stylesheet">
	<!-- Stylesheets: App -->
	<link href="css/fonts.css" media="all" rel="stylesheet">
	<link href="css/typography.css" media="all" rel="stylesheet">
	<link href="css/main.css" media="all" rel="stylesheet">
	<!-- Modernizr: feature detection -->

	<script src="vendor/modernizr/modernizr.min.js">
	</script>
</head>
<body>
	<div id="container">
		<ul id="menu">
			<li class='logo'>
				<a href="index.html"><svg id="Layer_1" style=
				"enable-background:new 0 0 200 130;" version="1.1" viewbox="0 0 200 130" x=
				"0px" xmlns="http://www.w3.org/2000/svg" y="0px">
				<style>
				.st0{fill:none;stroke:#727373;stroke-linejoin:round;stroke-miterlimit:10;} .st1{fill:#C2C5B4;stroke:#727373;stroke-linejoin:round;stroke-miterlimit:10;} .st2{fill:#BCBCBC;stroke:#727373;stroke-linejoin:round;stroke-miterlimit:10;} .st3{fill:none;} .st4{fill:#727374;} .st5{font-family:'Baskerville-SemiBold';} .st6{font-size:21.8204px;} 
				</style>
				<path class="st0" d=
				"M52.6,4.1l-38.2,0c-1.1,0.1-4.1-0.1-3.6,4.8c1.9-0.4,31.1,3.3,22,14.4S11.3,39.6,30,62.1 c19.2,22.9,25.3,25,26.1,43h14.1c1.2-2.7-1.4-11.4-3.2-12c3.5,2.9,12.9,10.9,13,17l12.3,1.5V106c0,0,20,18,21.5,18 c-2-4.5-20.3-85.6-54.1-97.6C59.7,26.5,60.7,4,52.6,4.1z">
				</path>
				<path class="st1" d=
				"M59.6,37.1c-4-1-21.5-8.8-23.8,4.1c-2.3,12.9,68.5,76.8,78,84.3c-0.8-8.6-24.7-80.6-35.5-82 C67.8,40,62.3,37.8,59.6,37.1z">
				</path>
				<path class="st2" d=
				"M42.6,76.6c1.4,5.1,2.4,17.1,0,27.4l9.4-1.1c2.7-4.1,3.6-9.4-4.2-20.2L42.6,76.6z">
				</path>
				<polyline class="st0" points=
				"46.4,103.9 46.4,113.9 35.7,113.9 65.8,113.9 61,113.9 61,105.1"></polyline>
				<rect class="st3" height="67.9" width="157.6" x="62.3" y="6.2"></rect>
				<text class="st4 st5 st6" transform="matrix(1 0 0 1 62.2975 20.9471)">
					AESTHETIC
				</text></svg></a>
			</li>
			<li>
				<a href="over-ons.html">over ons</a>
			</li>
			<li>
				<a href="portfolio.html">Portfolio</a>
				<ul>
					<li>
						<a href="video.html">video</a>
					</li>
					<li>
						<a href="print.html">print</a>
					</li>
					<li>
						<a href="web.html">web</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="diensten.html">diensten</a>
			</li>
			<li>
				<a href="contact.html">Contact</a>
			</li>
		</ul>
	</div>
	<h1 class="pagina-titel">Contact</h1>
	<p>je kan ons altijd bereiken via het contact formulier onderaan en onze
	telefoonlijn: 056/774766.</p>
	<form action="#">
		<div>
			<label class="desc" for="Field1" id="title1">Naam</label>
			<div>
				<input class="field text fn" id="Field1" name="Field1" size="8" tabindex=
				"1" type="text" value="">
			</div>
		</div>
		<div>
			<label class="desc" for="Field3" id="title1">Email</label>
			<div>
				<input id="Field3" maxlength="255" name="Field3" spellcheck="false"
				tabindex="3" type="email" value="">
			</div>
		</div>
		<div>
			<label class="desc" for="Field4" id="title1">Bericht</label>
			<div>
				<textarea cols="50" id="Field4" name="Field4" rows="10" spellcheck="true"
				tabindex="4"></textarea>
			</div>
		</div>
		<div>
			<fieldset>
				<legend class="desc" id="title1">Berichttype</legend>
				<div>
					<input id="radioDefault_5" name="Field5" type="hidden" value="">
					<div>
						<input checked="checked" id="Field5_0" name="Field5" tabindex="5" type=
						"radio" value="First Choice"> <label class="choice" for=
						"Field5_0">aanvraag</label>
					</div>
					<div>
						<input id="Field5_1" name="Field5" tabindex="6" type="radio" value=
						"Second Choice"> <label class="choice" for="Field5_1">vraag</label>
					</div>
					<div>
						<input id="Field5_2" name="Field5" tabindex="7" type="radio" value=
						"Third Choice"> <label class="choice" for="Field5_2">ander</label>
					</div>
				</div>
			</fieldset>
		</div>
		<div>
			<fieldset>
				<legend class="desc" id="title1">Vink nodige aan</legend>
				<div>
					<div>
						<input id="Field6" name="Field6" tabindex="8" type="checkbox" value=
						"First Choice"> <label class="choice" for="Field6">print</label>
					</div>
					<div>
						<input id="Field7" name="Field7" tabindex="9" type="checkbox" value=
						"Second Choice"> <label class="choice" for="Field7">web</label>
					</div>
					<div>
						<input id="Field8" name="Field8" tabindex="10" type="checkbox" value=
						"Third Choice"> <label class="choice" for="Field8">film</label> 
					</div>
				</div>
			</fieldset>
		</div>
		<div>
			<div>
				<input id="saveForm" name="saveForm" type="submit" value="Submit">
			</div>
		</div>
	</form>
	<ul>
		<li>
			<a href="https://www.facebook.com"><img alt="" class='social' src=
			"img/facebook.png"></a>
		</li>
		<li>
			<a href="https://twitter.com"><img alt="" class='social' src=
			"img/twitter.png"></a>
		</li>
		<li>
			<a href="https://www.instagram.com"><img alt="" class='social' src=
			"img/instagram.png"></a>
		</li>
	</ul>
</body>
</html>